footer {
  background-color: var(--negro-monkey);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
footer p {
  margin: 0;
  padding: 0;
}
.infoFooter img {
  height: 30px;
  filter: drop-shadow(0px 0px 6px #fff);
}
