.containerFixedNavbar {
  position: sticky;
  top: 0;
  z-index: 100000;
}
.containerNavbar {
  background-color: var(--negro-monkey-faded);
  backdrop-filter: blur(5px);
}
.containerLogoNavbar {
  margin: 0 20px;
}
.logoNavbar {
  height: 50px;
}
.link {
  text-align: center;
  position: relative;
}
.subrayadoLinks {
  width: 0;
  height: 2px;
  background-color: var(--rojo-monkey);
  transition: 0.2s;
}
.link:hover > .subrayadoLinks {
  width: 100%;
  transition: 0.2s;
}
