.containerTitulo {
  position: relative;
  padding: 0 20px;
  max-width: 1024px;
  margin: 0 auto;
}
.containerTitulo img {
  width: 60px;
  position: absolute;
  z-index: -1000;
  top: 50px;
  left: 5px;
}
